.header-title {
  background: var(--fon-title-background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--fon-title-background);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/Img\ Overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(47, 48, 58, 0.4);
}

.header-title__name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-color);
  text-align: center;
  margin-bottom: 30px;
}

.header-title__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--btn-color);
  background: var(--btn-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  border: none;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}
