.third-title-name,
.fourth-title,
.third-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.third-list {
  display: flex;
}

.third-list__item {
  position: relative;
  text-align: center;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.third-list__icon-label {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 1%;
}

.third-list__icon-text {
  position: absolute;
  width: 205px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--btn-color);
}
