:root {
  --btn-color: #ffffff; /*зміння для конопки */
  --btn-background: #2196f3; /*зміння для конопки */
  --title-text-color: #212121; /* основний колір для тексту*/
  --contacts-color: #757575; /*другорядний текст, використаний в абзацах*/
  --accent-color: #2196f3; /*колір при наведенні корсора мишки*/
  --fon-title-background: #2f303a; /*колір закраски header, footer*/
}

/* Пишу інформацію для себе (SASS змінні)*/

// $btn-color: #ffffff; /*зміння для конопки */
// $btn-background: #2196f3; /*зміння для конопки */
// $title-text-color: #212121; /* основний колір для тексту*/
// $contacts-color: #757575; /*другорядний текст, використаний в абзацах*/
// $accent-color: #2196f3; /*колір при наведенні корсора мишки*/
// $fon-title-background: #2f303a; /*колір закраски header, footer*/

// $cardBorderRadius: 4px;

// .product {
//   background-color: $btn-background;
//   border-radius: $cardBorderRadius;
// }
//
